*.pyc
.settings
.svn
.pydevproject
.project
requirements.txt

gen-py/
gen-py.tornado/
*.swp
gen
absvr.log
*.log
*.sql
*.out
*.tar.gz

*.jpg
*.png
images
templates

*.pid
pids
nginx.conf
log
.pid.txt
curl.txt
.idea
.vscode
out
*.iml
target
