<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="okay.mybatisservice.mapper.User" alias="User"/>

    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://10.60.0.57:3306/test"/>
                <property name="username" value="okay"/>
                <property name="password" value="Okay@123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="okay/mybatisservice/mapper/UserMapper.xml"/>
    </mappers>
</configuration>